<p id="notice"><%= notice %></p>

<p>
  <strong>Eng:</strong>
  <%= @word.eng %>
</p>

<p>
  <strong>Spa:</strong>
  <%= @word.spa %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
